@{
    ViewBag.Title = "mamori017 portal";
}

<!-- 
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->
<div class="row">
    <div class="col-md-12">
        <h2>Link</h2>
        <p>
            <a class="btn btn-default" href="https://console.aws.amazon.com/" target="_blank">AWS &raquo;</a>
            <a class="btn btn-default" href="https://portal.azure.com/" target="_blank">Azure &raquo;</a>
            <a class="btn btn-default" href="https://mamori017.backlog.jp/" target="_blank">Backlog &raquo;</a>
            <a class="btn btn-default" href="https://bitbucket.org/" target="_blank">BitBucket &raquo;</a>
            <a class="btn btn-default" href="http://booklog.jp/users/mamori017" target="_blank">BookLog &raquo;</a>
            <a class="btn btn-default" href="https://brabioproject.appspot.com/account/login/" target="_blank">Brabio! &raquo;</a>
            <a class="btn btn-default" href="https://github.com/mamori017" target="_blank">GitHub &raquo;</a>
            <a class="btn btn-default" href="http://mamori017.hatenablog.com/" target="_blank">Hatena Blog &raquo;</a>
            <a class="btn btn-default" href="https://id.heroku.com/login" target="_blank">Heroku &raquo;</a>
            <a class="btn btn-default" href="https://twitter.com/mamori017" target="_blank">Twitter &raquo;</a>
        </p>
    </div>

</div>